<label>Server Name</label>
<input 
	type="text" 
	class="form-control"
	(input)="onUpdateServerName($event)">
<input 
	type="text" 
	class="form-control"
	[(ngModel)] = "serverName">
<!--<p>{{ serverName }}</p>-->

<button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()"
>Add Server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>

<hr>
<h2>Sam Assignment Test</h2>
<label>Username</label>
<input 
	type="text" 
	class="form-control"
	[(ngModel)] = "username"
	(input)="onCheckEmptyUsername($event)">
<p>{{username}}</p>
<button class="btn btn-primary"
	[disabled]="!onEmptyUsername"
	(click)="onClearInput()" 
>Clear Username</button>

<button class="btn btn-primary"
	[disabled]="username === ''"
	(click)="username = ''"
>Max solution clear username</button>